article.flashcard {
  margin: 0px auto;
  border: 1px rgba(255, 255, 255, 0.03) solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 1000px;
  position: relative;
  top: 50%;
  transform: translateY(10%)
}

  label {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  section {
    display: block;
    font: 30px 'Oswald', sans-serif;
    text-align: center;
    line-height: 600px;
    width: 100%;
    transition: all 0.2s linear 0s;
    overflow: hidden;
  }
  .front {
    color: #BA1F53;
    background: #DDD;
    height: 100%;
  }
  .back {
    color: #DDD;
    background: rgb(80, 152, 200);
    height: 100%;
  }
  .something{
    position: absolute;;
    left: 70%;


  }
