

.banner-container{
    height: 100px;
    width: 100%; 
}

.eng{
    position: center; 
    font-weight: 900; 
    text-align: center; 
    font-size: 6em; 
    font-family: "shadows into light"; 
}










